/* 
 .signup-container{
  background-color: #e8f5e9; 
  text-align: center;
 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.form-container {
  background-color: rgb(212, 232, 181);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
}

.form-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-toggle button {
  width: 50%;
  padding: 10px;
  background-color: #f3fbf8;
  color: #74be73;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px 10px 0 0;
}

.form-toggle .active {
  background-color: #74be73;
  color: rgb(82, 63, 63);
}

h4{
  margin-left: 30px;
  color: rgb(231, 127, 127);
}
.form {
  display: flex;
  flex-direction: column;
}

.form h2 {
  margin-bottom: 20px;
}

.form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #fdfbfb;
  border-radius: 5px;
}

.form button {
  padding: 10px;
  background-color:#74be73;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form a {
  color: #007bff;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: right;
}

.form p {
  text-align: center;
} 





 */

/* 
 .signup-container {
  max-width: 350px;
  margin: auto;
  padding: 20px;
  border: 2px solid green;
  border-radius: 8px;
  background-color: #e8f5e9;
  text-align: center;
  margin-top: 150px;
}

.signup-heading {
  color: green;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signup-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid green;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
} */




.auth-container {
  width: 300px;
  margin: auto;
  text-align: center;
  padding: 20px;
  background: #f8f8f8;
  border-radius: 10px;
  margin-top: 150px;
}

.auth-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background: #0a9c45;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-container p {
  margin-top: 10px;
}

.error {
  color: red;
}
